/************************    LAYOUT   *****************/

	body,
	html {
		margin:0;
		padding:0;
		color:#000;
		background: #EEEEFF;
                font-size:100%;
	}
	#wrap {
		margin:0 5%;
		background:#FFF;
	}
        
	#page {
		margin:0 5px;
                border-right: 1px solid #CCF;
                border-left: 1px solid #CCF;
		background:#FFF;
	}
	#header {
                padding:5px 10px;
		background: #2580A2;
                color: #FFF;
  height:50px;
	}
        #header h1,#header h2 { color:#FFF; border:0px; }
#header h1 {float:left}
#header h2 {float:right; width:auto;}
	#main {
            padding:10px;
            background:#FFF;
	}
        #main img, #main-with-side img {
            text-align: center;
            margin: 10px auto;
            border: 1px solid #555;
        }
     
	#footer {
                margin: 50px 0 0 0;
		padding:5px 10px;
		border-top: 1px solid #AAA;
                background: #2580A2;
                height: 50px;
	}
	#footer p {
                color:white;
		margin:0;
                text-align: center;
        }
        #header a,#footer a {color:white; text-decoration:none;}
	* html #footer {
		height:1px;
                background: #FFF;
	}
	

/************************    GENERIC STYLING   *****************/	
a { text-decoration: none; }
a img {border: none; }
a:link, a:visited {
	text-decoration: none;
	color: #2580A2;
	}

        
        
a:hover, a:active {
	text-decoration: underline;
	color: #25A230;
	}

abbr, acronym {
	border-bottom: 1px dotted #ddd;
	}

h1,h2,h3,h4
{
    color: #2580A2;
    margin:1px;
}

p {margin-top:2px;}

h1 {
    font: bold 18pt tahoma, sans-serif;
    border-bottom: 1px solid #666;
    margin-bottom: 10px;
    margin-top: 14px;
    }

h2 {
    width:80%;
    font: bold 14pt tahoma, sans-serif;
    border-bottom: 1px solid #666;
    margin: 22px 0 5px;
    }    

h3 {
    font: bold 11pt tahoma, sans-serif;  
    margin: 11px 0 4px;
    }
   
h4
{
    font: bold 10pt tahoma, sans-serif;    
    margin: 11px 0 3px;
}   

table {
    padding:5px;
    border-collapse:collapse; 
    border:1px;
    width:95%;
    margin:5px;
    font-size: 90%;
}
td,th { border:1px solid #BBD; padding:1px;}

input { width:60%; margin:0 5px;}
input.button { width:auto; }
input.button:hover { margin-bottom:1px; } /** fix bug where page moved **/
textArea:focus,input:focus {     background: #DFD; }
textArea { width:90%; min-height:150px; }

/************************    Custom   *****************/
.entity {
    margin: 5px 3%;
    border:1px solid #555;
}

.entity h3 {
    width:100%;
    background: #2580A2;
    color:white;
    margin:0;
}


/************************    NAV   *****************/

#nav{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
	}
#nav ul{
	background:#333333;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
	}
#nav li{
	float:left;
	padding:0px;
	}
#nav li a{
	background:#333333 url('../images/seperator.gif') bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
	}
#nav li a:hover, #nav ul li:hover a{
	background: #25A230 url('../images/hover.gif') bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
	}
#nav li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
	}
#nav li:hover ul{
	display:block;
	
	}
#nav li li {
	background:url('../images/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
	}
#nav li:hover li a{
	background:none;
	
	}
#nav li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
	}
#nav li ul a:hover, #nav li ul li:hover a{
	background:#25A230 url('../images/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
	}
#nav p{
	clear:left;
	}	
	
.qlogo, .qlogo:visited,.qlogo:hover { color:#2580A2;  }
.qlogo span { color: #25A230;}        

